[submodule "hosting"]
	path = hosting
	url = https://github.com/aspnet/hosting
	branch = master
[submodule "httpabstractions"]
	path = httpabstractions
	url = https://github.com/aspnet/httpabstractions
	branch = master
[submodule "configuration"]
	path = configuration
	url = https://github.com/aspnet/configuration
	branch = master
