[submodule "hosting"]
	path = aspnet/hosting
	url = https://github.com/aspnet/hosting
	branch = master
[submodule "httpabstractions"]
	path = aspnet/httpabstractions
	url = https://github.com/aspnet/httpabstractions
	branch = master
[submodule "configuration"]
	path = aspnet/configuration
	url = https://github.com/aspnet/configuration
	branch = master
