<Type Name="IScaffoldingTypeMapper" FullName="Microsoft.EntityFrameworkCore.Scaffolding.Internal.IScaffoldingTypeMapper">
  <TypeSignature Language="C#" Value="public interface IScaffoldingTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IScaffoldingTypeMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.EntityFrameworkCore.Scaffolding.Internal.IScaffoldingTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IScaffoldingTypeMapper" />
  <TypeSignature Language="F#" Value="type IScaffoldingTypeMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.EntityFrameworkCore.Design</AssemblyName>
    <AssemblyVersion>3.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>
                This API supports the Entity Framework Core infrastructure and is not intended to be used
                directly from your code. This API may change or be removed in future releases.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="FindMapping">
      <MemberSignature Language="C#" Value="public Microsoft.EntityFrameworkCore.Scaffolding.Internal.TypeScaffoldingInfo FindMapping (string storeType, bool keyOrIndex, bool rowVersion);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.EntityFrameworkCore.Scaffolding.Internal.TypeScaffoldingInfo FindMapping(string storeType, bool keyOrIndex, bool rowVersion) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.EntityFrameworkCore.Scaffolding.Internal.IScaffoldingTypeMapper.FindMapping(System.String,System.Boolean,System.Boolean)" />
      <MemberSignature Language="VB.NET" Value="Public Function FindMapping (storeType As String, keyOrIndex As Boolean, rowVersion As Boolean) As TypeScaffoldingInfo" />
      <MemberSignature Language="F#" Value="abstract member FindMapping : string * bool * bool -&gt; Microsoft.EntityFrameworkCore.Scaffolding.Internal.TypeScaffoldingInfo" Usage="iScaffoldingTypeMapper.FindMapping (storeType, keyOrIndex, rowVersion)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.EntityFrameworkCore.Design</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.EntityFrameworkCore.Scaffolding.Internal.TypeScaffoldingInfo</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="storeType" Type="System.String" />
        <Parameter Name="keyOrIndex" Type="System.Boolean" />
        <Parameter Name="rowVersion" Type="System.Boolean" />
      </Parameters>
      <Docs>
        <param name="storeType">To be added.</param>
        <param name="keyOrIndex">To be added.</param>
        <param name="rowVersion">To be added.</param>
        <summary>
                This API supports the Entity Framework Core infrastructure and is not intended to be used
                directly from your code. This API may change or be removed in future releases.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>