<Type Name="IActionResultTypeMapper" FullName="Microsoft.AspNetCore.Mvc.Infrastructure.IActionResultTypeMapper">
  <TypeSignature Language="C#" Value="public interface IActionResultTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IActionResultTypeMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.AspNetCore.Mvc.Infrastructure.IActionResultTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IActionResultTypeMapper" />
  <TypeSignature Language="F#" Value="type IActionResultTypeMapper = interface" />
  <TypeSignature Language="C++ CLI" Value="public interface class IActionResultTypeMapper" />
  <TypeSignature Language="C++ CX" Value="public interface class IActionResultTypeMapper" />
  <TypeSignature Language="C++ WINRT" Value="__interface IActionResultTypeMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.AspNetCore.Mvc.Core</AssemblyName>
    <AssemblyVersion>2.1.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>
            Provides a mapping from the return value of an action to an <see cref="T:Microsoft.AspNetCore.Mvc.IActionResult" />
            for request processing.
            </summary>
    <remarks>
            The default implementation of this service handles the conversion of 
            <see cref="T:Microsoft.AspNetCore.Mvc.ActionResult`1" /> to an <see cref="T:Microsoft.AspNetCore.Mvc.IActionResult" /> during request
            processing as well as the mapping of <see cref="T:Microsoft.AspNetCore.Mvc.ActionResult`1" /> to <c>TValue</c>
            during API Explorer processing.
            </remarks>
  </Docs>
  <Members>
    <Member MemberName="Convert">
      <MemberSignature Language="C#" Value="public Microsoft.AspNetCore.Mvc.IActionResult Convert (object value, Type returnType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.AspNetCore.Mvc.IActionResult Convert(object value, class System.Type returnType) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.AspNetCore.Mvc.Infrastructure.IActionResultTypeMapper.Convert(System.Object,System.Type)" />
      <MemberSignature Language="VB.NET" Value="Public Function Convert (value As Object, returnType As Type) As IActionResult" />
      <MemberSignature Language="F#" Value="abstract member Convert : obj * Type -&gt; Microsoft.AspNetCore.Mvc.IActionResult" Usage="iActionResultTypeMapper.Convert (value, returnType)" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::AspNetCore::Mvc::IActionResult ^ Convert(System::Object ^ value, Type ^ returnType);" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; Microsoft::AspNetCore::Mvc::IActionResult ^ Convert(Platform::Object ^ value, Platform::Type ^ returnType);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.AspNetCore.Mvc.Core</AssemblyName>
        <AssemblyVersion>2.1.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.AspNetCore.Mvc.IActionResult</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="value" Type="System.Object" />
        <Parameter Name="returnType" Type="System.Type" />
      </Parameters>
      <Docs>
        <param name="value">The action return value. May be <c>null</c>.</param>
        <param name="returnType">The declared return type.</param>
        <summary>
            Converts the result of an action to an <see cref="T:Microsoft.AspNetCore.Mvc.IActionResult" /> for response processing.
            This method will be not be called when a method returns <c>void</c> or an
            <see cref="T:Microsoft.AspNetCore.Mvc.IActionResult" /> value.
            </summary>
        <returns>An <see cref="T:Microsoft.AspNetCore.Mvc.IActionResult" /> for response processing.</returns>
        <remarks>
            Prior to calling this method, the infrastructure will unwrap <see cref="T:System.Threading.Tasks.Task`1" /> or
            other task-like types.
            </remarks>
      </Docs>
    </Member>
    <Member MemberName="GetResultDataType">
      <MemberSignature Language="C#" Value="public Type GetResultDataType (Type returnType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Type GetResultDataType(class System.Type returnType) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.AspNetCore.Mvc.Infrastructure.IActionResultTypeMapper.GetResultDataType(System.Type)" />
      <MemberSignature Language="VB.NET" Value="Public Function GetResultDataType (returnType As Type) As Type" />
      <MemberSignature Language="F#" Value="abstract member GetResultDataType : Type -&gt; Type" Usage="iActionResultTypeMapper.GetResultDataType returnType" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Type ^ GetResultDataType(Type ^ returnType);" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; Platform::Type ^ GetResultDataType(Platform::Type ^ returnType);" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.AspNetCore.Mvc.Core</AssemblyName>
        <AssemblyVersion>2.1.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Type</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="returnType" Type="System.Type" />
      </Parameters>
      <Docs>
        <param name="returnType">The declared return type of an action.</param>
        <summary>
            Gets the result data type that corresponds to <paramref name="returnType" />. This
            method will not be called for actions that return <c>void</c> or an <see cref="T:Microsoft.AspNetCore.Mvc.IActionResult" />
            type.
            </summary>
        <returns>A <see cref="T:System.Type" /> that represents the response data.</returns>
        <remarks>
            Prior to calling this method, the infrastructure will unwrap <see cref="T:System.Threading.Tasks.Task`1" /> or
            other task-like types.
            </remarks>
      </Docs>
    </Member>
  </Members>
</Type>